html {

  scroll-behavior: smooth;
  
}

*{

    margin: 0px;

    padding: 0px;

    box-sizing: border-box;

}


/* Menu Styles */


.Menu{

    background-color: rgb(41, 40, 43);

    height: 10vh;

    box-sizing: border-box;

    justify-content: space-around;

    text-transform: uppercase;

    align-items: center;

    min-height: 8vh;

    color: seashell;

    display:flex;

    flex-direction: row;
    

}

.Menu  h4{
    text-transform: uppercase;

    letter-spacing: 4px;

    font-size: 46px;

    font-style: italic;

    width:30vh;
    
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
  
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}


.links{

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    width: 45%;

}

a{
    display:block;

    color: seashell;

    text-decoration: none;

    transition: border-bottom 0.5s;

    font-weight: bold;

    text-align: center;

    font-size: 12px;

    letter-spacing: 2px;

    display: inline-block;

    padding: 10px 20px;
    /* margin-right:20px; */

    margin-top:1vh;
}


a:hover{

    border-bottom: seashell solid 2px;
}




































