{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Contact Us{% endblock %}<!--Override the default name from the base.html template-->

<!--Basic user sign up information form-->
{% block content %} 

  
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT US</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> California, US</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: fiaaonline@gmail.com</p>
    <br>
    <form method="POST">
      <!--Name-->
      <div class="form-group">
        <label for="name">Name:</label>
        <input 
          type="text" 
          class="w3-input w3-border" 
          id="name" name="name" 
          placeholder="Please enter your name"
        />
      </div>
      <!--Email-->
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input 
          type="email" 
          class="w3-input w3-border" 
          id="email" name="email" 
          placeholder="Please enter your email"
        />
      </div>
      <!--message-->
      <div class="form-group">
        <label for="message">Message:</label>
        <input
          type="text" 
          class="w3-input w3-border" 
          id="message" name="message" 
          placeholder="Please enter your message"
          />
      </input>
      </div>
      <p>
        <!--Submit Button-->
        <button type="submit" class="w3-button w3-black">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
</div>

{% endblock %}