{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Learn Stocks{% endblock %}<!--Override the default name from the base.html template-->

{% block content %} 
<!-- Page content -->
<div class="w3-container w3-padding-64" id="education">
  <h1 class="w3-center">BEST STOCK TRADING BOOKS</h1>
  <hr>
  <div class="w3-container">
    <div class="w3-row-padding">
      <div class="w3-half">
        <h3>1. A Random Walk Down Wall Street</h3>
        <h4>Author: Burton Malkiel</h4>
        <p>Currently in its tenth edition, this book is a great first read for those starting a portfolio. Indexing, diversification, trends, bubbles, the value of patience coupled with time, alongside many more core concepts are all pronounced within.</p>
      </div>
      <div class="w3-half w3-center">
        <img src="../static/images/random-walk-down-wall-street-book-cover.png" style = "height:50%; height: fit-content;">
      </div>
    </div>
    <hr>
    <div class="w3-row-padding">
      <div class="w3-half">
        <h3>2. The Little Book of Common Sense Investing</h3>
        <h4>Author: Jack Bogle</h4>
        <p>Jack Bogle is the founder of The Vanguard Group, known for providing the lowest cost funds in industry. Jack's message is simple, keep costs low and invest in market indexes for the long run. Jack's other book, Common Sense on Mutual Funds, is another best seller and breaks down mutual fund investing. Another great book with a similar message can be found in Jeremy Siegel's, Stocks for the Long Run.</p>
      </div>
      <div class="w3-half w3-center">
        <img src="../static/images/little-book-common-sense-investing.png" style = "height:50%; height: fit-content;">
      </div>
    </div>
    <hr>
    <div class="w3-row-padding">
      <div class="w3-half">
        <h3>3. How to Make Money in Stocks</h3>
        <h4>Author: William O’Neil</h4>
        <p>This is a classic by William O'Neil, describing the ins and outs of his CANSLIM system for finding future big winners in the stock market and how to time entries and exits. It combines fundamental and technical analysis and is a good guide for new investors.</p>
      </div>
      <div class="w3-half w3-center">
        <img src="../static/images/how-to-make-money-stocks-book-cover.png" style = "height:50%; height: fit-content;">
      </div>
    </div>
    <hr>
    <div class="w3-row-padding">
      <div class="w3-half">
        <h3>4. The Most Important Thing Illuminated: Uncommon Sense for the Thoughtful Investor</h3>
        <h4>Author: Howard Marks</h4>
        <p>Using his Oaktree Capital client memos as a foundation, Howard assembled a collection of the 21 most important things to know about investing. The book introduces multiple keys to long-term success including, "second-level thinking," the price/value relationship, patient opportunism, and defensive investing.</p>
      </div>
      <div class="w3-half w3-center">
        <img src="../static/images/The-Most-Important-Thing-Illuminated.jpg" style = "height:50%; height: fit-content;">
      </div>
    </div>
    <hr>
    <div class="w3-row-padding">
      <div class="w3-half">
        <h3>5. Reminiscences of a Stock Operator</h3>
        <h4>Author: Edwin Lefèvre</h4>
        <p>This book is a true page-turner. It is a breath-taking recount of how a young boy managed to amass one of the largest fortunes by speculating despite going broke a few times in his career. He has timeless advice for investors("I've always made my money from sitting, not thinking") which will help your trading for years to come.</p>
      </div>
      <div class="w3-half w3-center">
        <img src="../static/images/reminiscences-stock-operator-book-cover.png" style = "height:50%; height: fit-content;">
      </div>
    </div>
  </div>
</div>
{% endblock %}