{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Home{% endblock %}<!--Override the default name from the base.html template-->

{% block content %} 

<style>
    .item1 { grid-area: header; }
    .item2 { grid-area: news; }
    .item3 { grid-area: gain; }
    .item4 { grid-area: loose; }
    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'news news news gain gain gain'
            'news news news loose loose loose';
        gap: 10px;
        background-color: #b1c1ce;
        padding: 10px;
        }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            
            }
</style>

<!--full-height image -->
<div class="grid-container" style="padding-top:20px">
    <!-- GRAPHS -->
    <div class="w3-row-padding item1">
        <div class="w3-center w3-padding-64">
            <h3><b>DAILY MARKET CHARTS</b></h4>
        </div>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-border w3-center">
                <div id="Dow">
                    <canvas id="dowChart"></canvas>
               </div>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-border w3-center">
                <div id="Dow">
                    <canvas id="nasdaqChart"></canvas>
               </div>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-border w3-center">
                <div id="Dow">
                    <canvas id="SP500Chart"></canvas>
               </div>
            </div>
        </div>
    
    </div>
    
    <div class="w3-row-padding item2">
        <!-- NEW Slideshow -->
        
        <!-- Slideshow -->
        <div class="w3-container">
            
            {% for title, desc,img,p_date,url in contents %}
            <div class="w3-display-container mySlides" >
                <div class="w3-container" align="center">
                    <h3 align= "center" class="w3-padding-24"><b>LATEST MARKET NEWS</b></h3>
                    <img src ="{{img}}" style=" width: 1020px; height: 560px;">
                    <div class="w3-black w3-container" style=" width: 1020px; height: 280px; font-size: 1.2vw;" >
                        <h4>{{title}}</h4>
                        <p>{{desc}}</p>
                        <p><a href="{{url}}">READ MORE</a></p>
                    </div>
                </div>
                
                
            </div>
            {% endfor %}
            <div class="w3-left previous" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
            <div class="w3-right next" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
        </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    
    


    <!--Daily stock graph table-->
    <div class="w3-row-padding item3">
        <h3 class="w3-padding-64"><b>HIGHEST PERCENTAGE GAIN STOCKS</b></h3>
    </div>

    <div class="w3-row-padding item4">
        <h3 class="w3-padding-64"><b>HIGHEST PERCENTAGE LOOSE STOCKS</b></h3>
    </div>
    
    
    <!-- OLD NEWSFEED
    <div class=" newsfeet">
        <div class="slider">
            {% for title, desc,img,p_date,url in contents %}
            <div class="slide">
                <img src = "{{img}}">
                <div class="info">
                    <h2>{{title}}</h2>
                    <p>{{desc}}<br><a href="{{url}}">READ MORE</a></p>
                    
                </div>
            </div>
            {% endfor %}
            <div class="navigation">
                <i class="fas fa-chevron-left prev-btn"></i>
                <i class="fas fa-chevron-right next-btn"></i>
            </div>
        </div>
    </div>
    -->
</div>

<script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function currentDiv(n) {
      showDivs(slideIndex = n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demodots");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    }
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

<script>
// dow graph
let dow = createGraph("1d","^DJI","dowChart")


//nasdaq
let nasdaq = createGraph("1d","^IXIC","nasdaqChart")


//sp500 "^GSPC"
let sp500 = createGraph("1d","^GSPC","SP500Chart")
// getting live
let counter=0
id =setInterval(update,6000)
function update(){
    let dowd=getdata('1d','^DJI')
    let nasdaqd=getdata('1d','^IXIC')
    let sp500d=getdata('1d','^GSPC')
    if(dow.data.datasets[0].data.length==dowd[1].length){
        counter = counter+1
    }
    else{
        counter=0
    }
    if (counter==2)
    {
        clearInterval(id)
    }
    dow.data.labels=dowd[0]
    dow.data.datasets[0].data=dowd[1]
    dow.update()
    sp500.data.labels=sp500d[0]
    sp500.data.datasets[0].data=sp500d[1]
    sp500.update()
    nasdaq.data.labels=nasdaqd[0]
    nasdaq.data.datasets[0].data=nasdaqd[1]
    nasdaq.update()

}




function createGraph(time,stock,place){
    let information=getdata(time,stock)
    let ctx = document.getElementById(place).getContext("2d");
    gradient = ctx.createLinearGradient(0,0,0,400);
    gradient.addColorStop(0,'rgba(58,123,213,1)');
    gradient.addColorStop(1,'rgba(0,210,255,0.3)');
    // get the data
    const data = {
    labels: information[0],
    datasets: [{
        label: stock,
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data:information[1],
        fill : true,
        backgroundColor : gradient
    
    }]  
    
};


const config = {
    type: 'line',
    data: data,
    options: {
        elements: {
            point:{
                radius : 0
            }
        },
        scales :{
            x:{
            ticks:{
                display : false
                }
            } 
        } 
        }
    };

    return new Chart(ctx,config);

}


function getdata(time, stock){
    let xhr = new XMLHttpRequest();
    let date
    let price
    xhr.open('GET','http://127.0.0.1:5000/search?time='+time+'&stock='+stock,false);
    xhr.onload= function(){
    if(this.status == 200){
        let information = JSON.parse(this.responseText);
        date = information["dates"]
        price = information["prices"]
    }

    }
    xhr.send();

    return [date,price]
}



</script>

{% endblock %}
