{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Home{% endblock %}<!--Override the default name from the base.html template-->

{% block content %} 



<img src="{{url_for('static', filename='images/giphy.gif')}}" style="width: 100%; display: block;
margin-left: auto;
margin-right: auto;
padding-top: 20px;"/>


<figure class="text-center" style="font-family: 'Times New Roman', Times, serif; padding-top: 20px;">
    <blockquote class="blockquote" >
        <i>I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful.</i>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="Source Title" style="color: black;">Warren Buffett</cite>
    </figcaption>
</figure>



<style>

    .grid-container{
        display: grid;
    }

</style>
{% endblock %}