{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Login{% endblock %}<!--Override the default name from the base.html template-->

{% block content %} <form method="POST">

    <h3 align="center" style="padding-top: 30px; font-size: 40px;">

        <b>Login</b>
        
    </h3>

    <!--Email-->
    <div class="form-group">

        <label for="email"> <b>Email Address</b></label>

        <input 
        type="email" 
        class="form-control" 
        id="email" name="email" 
        placeholder="Please enter your email"
        />


    </div>

    <!--Password-->
    <div class="form-group">

        <label for="password"><b>Password</b></label>

        <input 
        type="text" 
        class="form-control" 
        id="password" name="password" 
        placeholder="Please enter your password"
        />


    </div>

    <br />

    <!--Submit Button-->
    <button type="submit" class="btn btn-primary">Login</button>
{% endblock %}