{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Profile{% endblock %}<!--Override the default name from the base.html template-->

{% block content %} 

<style>
  .grid-container{
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-gap: 20px;
  }
  form{
    display: inline;
  }
</style>

<div class="w3-third w3-padding-64" id="profile">
  <div class="w3-container w3-round">
    <h3 class="w3-center">MY PROFILE</h3>
    <hr>
    <p><b>First name:</b> {{user.firstname}}</p>
    <p><b>Last name:</b> {{user.lastname}}</p>
    <p><b>Email:</b> {{user.email}}</p>
  </div>
  <div class="w3-center">
    <form action="{{url_for('views.updateProfile',id=user.id)}}">
      <button type="submit" class="w3-button w3-green">UPDATE PROFILE<i class="fa fa-pencil w3-margin-left"></i></button>
    </form>
    <form action="{{url_for('views.delete',id=user.id)}}">
      <button type="submit" class="w3-button w3-red">DELETE PROFILE<i class="fa fa-trash w3-margin-left"></i></button>
    </form>
  </div>
</div>
<div class="w3-twothird w3-padding-64" id="watchlist">
  <div class="w3-container">
    <h3 class="w3-center">STOCK(S) WATCHLIST</h3>
    <hr>
    <table class="w3-table w3-striped w3-gray w3-round">
      <tr>
        <th></th>
        <th style="text-align:center">NAME</th>
        <th style="text-align:center">BOUGHT PRICE</th>
        <th style="text-align:center">QUANTITY</th>
        <th style="text-align:center">TOTAL</th>
        <th></th>
      </tr>
      {% for us in uss %}
      <tr>
        <td></td>
        <td style="text-align:center">{{Stock.query.filter(Stock.id==us.stock_id).first().name}}</td>
        <td style="text-align:center">$ {{Stock.query.filter(Stock.id==us.stock_id).first().price}}</td>
        <td style="text-align:center">{{us.number_of_stock}}</td>
        <td style="text-align:center">${{us.number_of_stock*Stock.query.filter(Stock.id==us.stock_id).first().price}}</td>
        <td><button type="button" class="close" onCLick = "deleteStock({{us.stock_id}})">
          <span aria-hidden="true">
            &times;
          </span>
        </button></td>
      </tr>
      {% endfor %}
    </table>
    <!--Allow user to add what stock(s) they are investing in-->
    <div class="w3-center">
      <h5><b>Total Investment: ${{total}}</b></h5>
      <form method="POST">
        <p>
          <input 
            type="text" 
            class="w3-input w3-border" 
            name="stock" id="stock"
            placeholder="symbol, amount">
          </input>
        </p>
        <p>
          <button type="submit" class="w3-button w3-black">
            ADD STOCK<i class="fa fa-arrow-right w3-margin-left"></i>
          </button>
        </p>
      </form>
      <form action="{{url_for('views.alert',id=user.id)}}">
        <button type="submit" class="w3-button w3-black">ADD STOCK ALERT<i class="fa fa-bell w3-margin-left"></i></button>
      </form>
    </div>
    
  </div>
</div>

<div class="w3-container w3-padding-64">
  <h3 class="w3-center">DIVIDENDS PER YEAR</h3>
  <hr>
  <table class="w3-table w3-striped w3-gray w3-round">
      <tr>
        <th style="text-align:center">Stock </th>
        <th style="text-align:center">Dividend Amount</th>
        <th style="text-align:center">Dividend Percentage</th>
        <th style="text-align:center">Time Paid </th>
      </tr>
      {% for index in range(dividendInfo["dividendYields"]| length )%}
      <tr>
        <td style="text-align:center">{{stocksOwned[index]}}</td>
        <td style="text-align:center">{{dividendInfo["dividendRates"][index]}}</td>
        <td style="text-align:center">{{dividendInfo["dividendYields"][index]}}</td>
        <td style="text-align:center">{{dividendInfo["dates"][index]}}</td>
      </tr>
      {% endfor %}
  </table >
</div>

{% endblock %}

