{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Search{% endblock %}<!--Override the default name from the base.html template-->

{% block content %}
<style>
  table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
table, th, td {
  border: 1px solid black;
}
</style>

<div class="w3-container" style="margin-top:128px" id="search">
  <div class="text-light w3-black">
    <h1 class="w3-center">{{Info.get("longName","Does not have a name")}}</h1>
  </div>
  <p class="w3-wide">Symbol: <span id="symbol">{{Info.get("symbol","does not have a name")}}</span></p>
  <p class="w3-wide">Current Price: $<span id="dayHigh">{{Info.get("currentPrice","can't get current price")}}</span></p>  
  <div class="conatainer" style="width:900px;">
        <canvas id="myChart"></canvas>
        <button id="day" class="w3-button w3-black">1 day</button>
        <button id="mo3" class="w3-button w3-black">3 months</button>
        <button id="mo6" class="w3-button w3-black">6 months</button>
        <button id="year" class="w3-button w3-black">1 year</button>
        <button id="year5" class="w3-button w3-black">5 years</button>
        <button id="year10" class="w3-button w3-black">10 year</button>
  </div>

</div>

<button class="fa fa-clone" id="Copy"></button>


<!--About the company-->
<div class="w3-container" style="margin-top:64px">
  <div class="text-light w3-black">
    <h2 class="w3-center">About {{Info.get("longName","cant get long name")}}</h2>
  </div>
  <p style=" text-indent: 1.2vw;">{{Info.get("longBusinessSummary","Does not have a long")}}</p>
</div>

<div>

  <div class="text-light w3-black">
    <h2 class="w3-center">Financial Info</h2>
  </div>
  <table style="text-align:center" align="center">
    <th >Date</th>
    <th>Firm</th>
    <th>Recomendation</th>
    {% for i in range(5)%}
      <tr>
        <td style="padding:0 15px 0 15px;">{{recomend['dates'][i]}}</td>
        <td style="padding:0 15px 0 15px;">{{recomend['firms'][i]}}</td>
        <td style="padding:0 15px 0 15px;">{{recomend['grades'][i]}} </td>
      </tr>
    {% endfor %}
  </table>

</div>

<div>
  <div class="text-light w3-black">
    <h2 class="w3-center">Price History</h2>
  </div>
  <div align="center">
    <p><b> 52 Week High: </b>{{Info['fiftyTwoWeekHigh']}}</p>
    <p><b>52 week Low: </b>{{Info['fiftyTwoWeekLow']}}</p>
    <p><b>50 day average: </b>{{Info['fiftyDayAverage']}}</p>
    <p><b>200 day average: </b>{{Info['twoHundredDayAverage']}}</p>

  </di>
  
</div>


<div>
  <div class="text-light w3-black">
    <h2 class="w3-center">Value Measures</h2>
  </div>
  <div align ="center">
    <p class="tooltip"><b>Market cap: </b>
      <span class="tooltiptext">The total value of all a company's shares of stock.</span>
      {{Info['marketCap']}}
    </p>
    <p class="tooltip"><b>Trailing P/E: </b>
      <span class="tooltiptext">The trailing P/E ratio measures the EPS (Earnings Per Share) of a stock for the previous 12 months.</span>
      {{Info['trailingPE']}}
    </p>
    <p class="tooltip"><b>Forward P/E: </b>
      <span class="tooltiptext">The forward P/E ratio forecasts the future projected EPS (Earnings Per Share) of a stock.</span>
      {{Info['forwardPE']}}
    </p>
    <p class="tooltip"><b>Price to sales in the last 12 months: </b>
      <span class="tooltiptext">The price-to-sales ratio compares a company's stock price to its revenues.</span>
      {{Info['priceToSalesTrailing12Months']}}
    </p>
    <p class="tooltip"><b>Price to book value: </b>
      <span class="tooltiptext">The price-to-book ratio measures the market capitalization of a company relative to its book value of equity.</span>
      {{Info['priceToBook']}}
    </p>
  </div>
</div>
<div>
  <label>stock:</label>
  <input type="text" id="stockadd">
  <button id="add"> add row</button>
</div>
<div>
  <table id='comparing'>
    <thead>
      <tr>
        <th> Symbol</th>
        <th> current Price </th>
        <th> price to book value </th>
        <th> Trailing price to sales</th>
        <th> return on assets</th>
        <th> return on equity</th>
        <th> revenue growth </th>
        <th> trailing earnings per share</th>
        <th> trailing PE</th>
        <th> delete button<th>
      </tr>
    <thead>
    <tbody id="body">
      <tr>
        <td>{{Info['symbol']}}</td>
        <td>{{Info['currentPrice']}}</td>
        <td>{{Info['priceToBook']}}</td>
        <td>{{Info['priceToSalesTrailing12Months']}}</td>
        <td>{{Info['returnOnAssets']}}</td>
        <td>{{Info['returnOnEquity']}}</td>
        <td>{{Info['revenueGrowth']}}</td>
        <td>{{Info['trailingEps']}}</td>
        <td>{{Info['trailingPE']}}</td>
        <td><td>
      </tr>
  </tbody>
</table>
</div>

<!--comment-->
<div>
  <div class="text-light w3-black">
    <h2 class="w3-center">Comment</h2>
  </div>
  <textarea name="comment" id="comment" cols="150" rows="10"></textarea>
  <button id="commentBtn">submit</button>
</div>

<div id="comments">
  </div>

<Button id="prediction">GET STOCK PREDICTION </button>
<!--prediction-->
<div class="conatainer" style="width:900px;">
        <canvas id="predictionChart"></canvas>
</div>



</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let bottom = JSON.parse({{ dates | tojson }})
  let income = JSON.parse({{ money | tojson }})

  let addcomment= document.getElementById("commentBtn")
  addcomment.addEventListener("click",()=>{
    let wheretoadd=document.getElementById("comments")
    let textComment=document.getElementById("comment")
    textvalue=textComment.value
    console.log(textvalue)
    let template=`<h1> ${textvalue}</h1>`
    wheretoadd.innerHTML += template;
    textComment.value=""

  })
  let ctx = document.getElementById("myChart").getContext("2d");
  let predictLocation = document.getElementById("predictionChart").getContext("2d");
  let newmychart=stockGraph(bottom,income,ctx)
  function determineColor(price){
    let colors=[]
    for(i=0;i<price.length;i++){
      if ( price[0] > price[i] ){
        colors.push("#880808")
      }
      else{
        colors.push("#bae755")
      }
    }
    return colors
  }

  let stockName=document.getElementById("symbol").textContent;
  
  document.getElementById("Copy").addEventListener('click',function(){
    let url = window.location.href;
    url = url +"?time=1d&stock="+stockName+"&num="+1
    console.log(url)
    let inputElement = document.createElement('input')
    inputElement.setAttribute('value',url)
    document.body.appendChild(inputElement)
    inputElement.select()
    document.execCommand('copy')
    inputElement.parentNode.removeChild(inputElement)
  });
  let day=document.getElementById("day");
  let mo3=document.getElementById("mo3");
  let mo6=document.getElementById("mo6");
  let year=document.getElementById("year");
  let year5=document.getElementById("year5");
  let year10=document.getElementById("year10");
  let currentPrice=document.getElementById("dayHigh");
  let id =setInterval(write,6000)

  let keepGoing=true
  let counter=0
  day.addEventListener("click",()=>{
    keepGoing=true
    write()
    id =setInterval(write,6000)
  });

  function write(){
    if(keepGoing){
    datas = getdata(stockName,'1d')
    if (newmychart.data.datasets[0].data.length==datas[1].length){
      counter=counter +1
    }
    if (counter==2)
    {
      clearInterval(id)
      counter =0
    }
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update()
    currentPrice.innerHTML=datas[1][datas[1].length-1].toFixed(2).toString();
    }
  }

  mo3.addEventListener("click",()=>{
    keepGoing=false
    datas = getdata(stockName,'3mo')
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update();
  });

  mo6.addEventListener("click",()=>{
    keepGoing=false
    datas = getdata(stockName,'6mo')
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update();
  });

  year.addEventListener("click",()=>{
    keepGoing=false
    datas = getdata(stockName,'1y')
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update();
  });

  year5.addEventListener("click",()=>{
    keepGoing=false
    datas = getdata(stockName,'5y')
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update();
  });

  year10.addEventListener("click",()=>{
    keepGoing=false
    datas = getdata(stockName,'10y')
    newmychart.data.labels=datas[0]
    newmychart.data.datasets[0].data=datas[1]
    newmychart.update();
  });

  function stockGraph(x_axis,y_axis,ctx){
    if(x_axis.length==0){
      for(let count=0;count<y_axis.length;count++){
        x_axis.push(count)
      }
    }
    colors=[]
    for(let counter=0;counter<=30;counter++){
      colors.push('rgb(205,218,34)')
    }
    for(let counter=0;counter<=30;counter++){
      colors.push('rgb(218,101,34)')
    }
    const data = {
    labels: x_axis,
    datasets: [{
      label: 'My First Dataset',
      data: y_axis,
      fill: false,
      borderColor: colors,
      tension: 0.1
      }]
    };
    const config = {
      type: 'line',
      data: data,
    }; 
    return new Chart(ctx,config)
}

  function getdata(stock,time){
    let xhr = new XMLHttpRequest();
    let date
    let price
    xhr.open('GET','http://127.0.0.1:5000/prices?time='+time+'&stock='+stock,false);
    xhr.onload= function(){
      if(this.status == 200){
        let information = JSON.parse(this.responseText);
        date = information["dates"]
        price = information["prices"]
      }

    }
    xhr.send();

    return [date,price]
  }
//////////////////////////////
  let askPre= new XMLHttpRequest();
  var preDates=[]
  var prePrice=[]
  askPre.open('GET','http://127.0.0.1:5000/prediction?stock='+stockName,true);
  askPre.onload=function(){
    if(this.status == 200){
      prePrice= JSON.parse(this.responseText);
      
    }
  }
  askPre.send()

  var predictionID=setInterval(createPrediction,2000)
  function createPrediction(){
    if(prePrice.length!=0){
      console.log("hello")
      clearInterval(predictionID)
    }
  }

  let preGraph = document.getElementById("prediction")
  preGraph.addEventListener("click",()=>{
    if(prePrice.length==0){

    }
    else{
      stockGraph([],prePrice,predictLocation)
      preGraph.remove()
    }
  })

let table = document.getElementById("comparing")
let tableBody=document.getElementById("body")
let addrow=document.getElementById("add")
let stocktext= document.getElementById("stockadd")


addrow.addEventListener('click',()=>{

  let newcom=null
  console.log(stocktext.value)
  newcom=getinfo(stocktext.value)
  stocktext.value=' '
  if(Object.keys(newcom).lenght===0){
    return
  }
  let template=`<tr>
                  <td>${newcom['symbol']}</td>
                  <td>${newcom['currentPrice']}</td>
                  <td>${newcom['priceToBook']}</td>
                  <td>${newcom['priceToSalesTrailing12Months']}</td>
                  <td>${newcom['returnOnAssets']}</td>
                  <td>${newcom['returnOnEquity']}</td>
                  <td>${newcom['revenueGrowth']}</td>
                  <td>${newcom['trailingEps']}</td>
                  <td>${newcom['trailingPE']}</td>
                  <td><button class ="deleteBtn">Delete</button></td>
                </tr>`;
  tableBody.innerHTML += template;
});
table.addEventListener('click',(e)=>{
  if(!e.target.classList.contains('deleteBtn')){
    return;
  }
  const btn = e.target;
  btn.closest("tr").remove();
});

function getinfo(stock){
  console.log('we are inside')
    let xhr = new XMLHttpRequest();
    let information
    xhr.open('GET','http://127.0.0.1:5000/compare?stock='+stock,false);
    xhr.onload= function(){
      if(this.status == 200){
        information = JSON.parse(this.responseText);
      }

    }
    xhr.send();
    console.log(information)
    return information
  }

</script>

{% endblock %}