{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Search{% endblock %}<!--Override the default name from the base.html template-->

{% block content %}


<div class="container">
  <div class="row">
    <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
      <h1 style="padding:20px 0px 20px 0px">{{Info["longName"]}}</h1>
    </div>
  </div>
  <div class="col-3">
    <p>Symbol: <span id="symbol">{{Info["symbol"]}}</span></p>
      <p> Current Price: $<span id="dayHigh">{{Info["currentPrice"]}}</span></p>  
  </div>
  <div class="col-9">
    <h2 id="companyName"></h2>
  </div>
</div>


<button class="btn btn-info" type="button" id="drawc">stop </button>
<div class="conatainer" style="width:900px;">
      <canvas id="myChart"></canvas>
      <button id="day">1d</button>
      <button id="mo3">3mo</button>
      <button id="mo6">6mo</button>
      <button id="year">1 year</button>
      <button id="year5"> 5 years</button>
      <button id="year10"> 10 year</button>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>







</script>
<script type="text/javascript"
    src="{{ url_for('static', filename='stock.js')}}">
</script> 

{% endblock %}