{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Sign Up{% endblock %}<!--Override the default name from the base.html template-->

<!--Basic user sign up information form-->
{% block content %}

<form method="POST">
  <div class="w3-container" style="padding:128px 16px" id="signup">
    <h3 class="w3-center">SIGN UP</h3>
    <div style="margin-top:48px">
      <!--Email-->
      <div class="form-group">
        <label for="email"><b>Email Address:</b></label>
        <input 
        type="email" 
        class="w3-input w3-border" 
        id="email" name="email" 
        placeholder="Please enter your email"
        />
      </div>
      <!--First Name-->
      <div class="form-group">
        <label for="firstname"><b>First Name:</b></label>
        <input 
        type="text" 
        class="w3-input w3-border" 
        id="firstname" name="firstname" 
        placeholder="Please enter your first name"
        />
      </div>
      <!--Last Name-->
      <div class="form-group">
          <label for="lastname"><b>Last Name:</b></label>
          <input 
          type="text" 
          class="w3-input w3-border" 
          id="lastname" name="lastname" 
          placeholder="Please enter your last name"
          />
      </div>
      <!--Password-->
      <div class="form-group">
          <label for="password"><b>Password:</b></label>
          <input 
          type="text" 
          class="w3-input w3-border" 
          id="password" name="password" 
          placeholder="Please enter your password"
          />
      </div>
      <!--Confirm Password-->
      <div class="form-group">
          <label for="checkpassword"><b>Re-enter Password:</b></label>
          <input 
          type="text" 
          class="w3-input w3-border" 
          id="checkpassword" name="checkpassword" 
          placeholder="Please confirm your password"
          />
      </div>
      <p>
        <!--Submit Button-->
        <button type="submit" class="w3-button w3-black">SIGN UP</button>
      </p>
    </div>
  </div>
</form>

{% endblock %}