{% extends "base.html" %}<!--extends the base.html template-->

{% block title %}Update Profile{% endblock %}<!--Override the default name from the base.html template-->


<!--Update information form-->
{% block content %} 
<div class="w3-container w3-padding-64" id="update">
  <h1 class="w3-center">UPDATE PROFILE</h1><br>
  <form method="POST">
    <!--Email-->
    <p>
      <label for="email"><b>Email Address:</b></label>
      <input 
        type="email" 
        class="w3-input w3-border" 
        id="email" name="email" 
        placeholder="Please enter your email"
      />
    </p>
    <!--First Name-->
    <p>
      <label for="firstname"><b>First Name:</b></label>
      <input 
      type="text" 
      class="w3-input w3-border" 
      id="firstname" name="firstname" 
      placeholder="Please enter your first name"
      />
    </p>
    <!--Last Name-->
    <p>
      <label for="lastname"><b>Last Name:</b></label>
      <input
      type="text" 
      class="w3-input w3-border" 
      id="lastname" name="lastname" 
      placeholder="Please enter your last name"
      />
    </p>
    <p>
      <!--Submit Button-->
      <button type="submit" class="w3-button w3-black">UPDATE</button>
    </p>
  </form>
</div>
{% endblock %}
